<head>
    <title>{{ domain_name }}</title>
    <link rel="stylesheet" href="/static/style/style.css">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
    <link rel="manifest" href="/static/site.webmanifest">
</head>
<body>
    <div class="contact-block" >
        <div class="cont-nam noselect">Yar Ch</div>
        <div class="cont-itemline">
            <a class="cont-item" href="https://github.com/aidekqz" target="_blank">
                <div class="cont-icon github"></div>
            </a>
            <a class="cont-item" href="https://gitlab.com/aidekqz" target="_blank">
                <div class="cont-icon gitlab"></div>
            </a>
        </div>
    </div>
</body>
