@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;600&display=swap');

body {
    margin: 0;
    background-color: #CCACB1;
    color: white;
    font-family: 'Jost', sans-serif;
    font-style: normal;
    font-size: 48px;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }

.contact-block {
    position: absolute;
    top: 30%;
    left: 20%;
}

.cont-itemline {
    display: flex;
    width: auto;
    /* justify-content: space-between; */
}

.cont-item {
    margin-right: 10px;
}

.cont-icon {
    width: 48px;
    height: 48px;
}



.gitlab {
    background-image: url('/static/style/gitlab.svg');
    background-size: 168%;
    background-position: center;
}
.github {
    background-image: url('/static/style/github.svg');
    background-repeat: no-repeat;
    background-size: 94%;
    background-position: center;
}

.cont-item:last-child {
    margin-right: 0;
}
